/* Estilos de la tarjeta de evento */
.event-card-S{
  min-width: 300px;
  position: relative;
}

.event-card-L .rt-CardInner{
  display: flex;
  flex-direction: column;
}

.event-description{
  flex: 1;
  text-align: left;
  padding: 15px;
  text-wrap: pretty;
}

.event-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid var(--gray-2);
}

.event-blur .rt-CardInner{
  /* background-color: var(--gray-a14); */
}

.event-blur{
backdrop-filter: blur(15px);
}

.two-columns{
  max-width: calc(50% - 30px);
  transition: all 0.5s ease-in-out;
  margin-bottom: -100px;
}

.one-column{
  margin-bottom: 20px;
}

.one-column-margins{
  margin-top: 15px;
  margin-bottom: 15px;
}

.isLeft{
  /* margin-right: auto; */
  align-self: flex-start;
}

.isRight{
  /* margin-left: auto; */
  align-self: flex-end;
}

.short-description{
  opacity: 0.9;
  text-wrap: pretty;
}

/* Desplegables de tarjeta de evento */
.no-height{
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 0.53, 0.24, 0.99);
}

.full-height{
  max-height: 800px;
  transition: max-height 0.5s cubic-bezier(0.35, 0.09, 0.24, 0.99)
}

/* Estilos al seleccionar la tarjeta de evento */
.selected{
    /* background-color: var(--gray-3) !important; */
    background-color: var(--orange-4) !important;
    transition: background-color 0.5s ease-in-out;
}

.no-selected{
    transition: background-color 0.5s ease-in-out;
}

/* Estilos del esqueleto de la tarjeta de evento */
@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton-container {
  background-image: linear-gradient(90deg, #1f1f1f 25%, #2e2e2e 50%, #1f1f1f 75%) !important;
  background-size: 200px 100%; /* Ancho de la animación x Altura del contenedor */
  animation: skeleton-loading 1.5s infinite linear; /* La animación se repite infinitamente */
  border-radius: 15px;
}

.transparent{
  background-color: transparent !important;
  color: transparent !important;
}

/* Estilo del icono del calendario y la linea del timeline */
.calendar-icon{
  padding: 7px;
  background-color: var(--accent-12);
  border-radius: 16px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.one-column-line{
  position: absolute;
  width: 2px;
  background: white;
  height: calc(100% - 40px);
  margin-top: 40px;
  transition: height 0.5s ease-in-out;
}

.two-column-line{
  position: absolute;
  width: 2px;
  background: white;
  height: calc(100% - 160px);
  margin-top: 40px;
  transition: height 0.5s ease-in-out;
}

.line-right{
  left: 0;
  margin-left: -31px;
}

.line-left{
  right: 0;
  margin-right: -31px;
}

.calendar-icon-left{
  right: 0;
  margin-right: -49px;
  margin-top: -10px;
}

.calendar-icon-right{
  left: 0;
  margin-left: -49px;
  margin-top: -10px;
}