.layout {
    display: flex;
    width: 100%;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.aqua{
    background-color: aqua;
}

.layout-center{
    margin: 0 auto;
}

.max-width-1350{
    max-width: 1350px;
}

.max-width-440{
    max-width: 440px;
}

.margin-left-50{
    margin-left: 50px;
}

.padding-right-15{
    padding-right: 15px;
}

.empty-focused-event{
    width: 100%;
    flex: 2;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.focused-event-container{
    position: fixed;
    width: 100%;
    max-width: 1350px;
    display: flex;
    z-index: -1;
    margin: 0 auto;
}

.float-event{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.event-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    position: relative;
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
}
