@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/orange-dark.css';

/* Estilos de la tarjeta de evento */
.event-card-S{
  min-width: 300px;
  transition: all 0.5s ease-in-out;
}

.two-columns-width{
  max-width: calc(50% - 30px);
}

.one-column-width{
  max-width: calc(100% - 30px);
}

.one-column-margins{
  margin-top: 15px;
  margin-bottom: 15px;
}

.isLeft{
  transition: all 0.5s ease-in-out;
  margin-right: auto;
}

.isRight{
  transition: all 0.5s ease-in-out;
  margin-left: auto;
}

/* Desplegables de tarjeta de evento */
.no-height{
  max-height: 0;
  /* transition: max-height 0.5s ease-out; */
  transition: max-height 0.5s cubic-bezier(0, 0.53, 0.24, 0.99);
}

.full-height{
  max-height: 800px;
  /* transition: max-height 0.5s ease-in; */
  transition: max-height 0.5s cubic-bezier(0.35, 0.09, 0.24, 0.99)
}

/* Estilos al seleccionar la tarjeta de evento */
.selected{
    /* background-color: var(--gray-3) !important; */
    background-color: var(--orange-4) !important;
    transition: background-color 0.5s ease-in-out;
}

.no-selected{
    transition: background-color 0.5s ease-in-out;
}

/* Estilos del esqueleto de la tarjeta de evento */
@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton-container {
  background-image: linear-gradient(90deg, #1f1f1f 25%, #2e2e2e 50%, #1f1f1f 75%) !important;
  background-size: 200px 100%; /* Ancho de la animación x Altura del contenedor */
  animation: skeleton-loading 1.5s infinite linear; /* La animación se repite infinitamente */
  border-radius: 15px;
}

.transparent{
  background-color: transparent !important;
  color: transparent !important;
}

/* Estilo del icono del calendario del timeline */
.calendar-icon-center{
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12px); /* Centrar horizontalmente */
  top: calc(0% - 3px);
}