.max-width-1350 {
	max-width: 1350px;
}
.max-width-1500 {
	max-width: 1500px;
}

.events-two-thirds {
	max-width: 30%;
}

.event-L-container {
	width: calc((100% - (100% - 1550px)) * 0.635);
	height: calc(100% - 90px);
}

@media screen and (max-width: 1520px) {
	.event-L-container {
		width: calc(65%);
	}
}
@media screen and (max-width: 1160px) {
	.event-L-container {
		width: calc(100% - 400px);
	}
}