.max-width-1350 {
	max-width: 1350px;
}

.max-width-1500 {
	max-width: 1500px;
}

.-h-full-35{
	height: calc(100% - 35px);
}
.transition-all-custom{
	transition: all 0.3s ease-in-out;
}

.events-two-thirds {
	max-width: 30%;
}

.event-L-container {
	width: calc((100% - (100% - 1550px)) * 0.635);
	height: calc(100% - 90px);
}

@media screen and (max-width: 1520px) {
	.event-L-container {
		width: calc(65%);
	}
}
@media screen and (max-width: 1160px) {
	.event-L-container {
		width: calc(100% - 400px);
	}
}


.event-L-container-with-menu {
	width: calc((100% - (100% - 1450px)) * 0.635);
	height: calc(100% - 90px);
}

@media screen and (max-width: 1520px) {
	.event-L-container-with-menu {
		width: calc(65% - 70px);
	}
}
@media screen and (max-width: 1160px) {
	.event-L-container-with-menu {
		width: calc(100% - 470px);
	}
}