.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 110px 80px 200px 80px;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "TOPIC TOPIC DATE"
    "TITLE TITLE SOURCES"
    "SUMMARY SUMMARY SOURCES"
    "TAGS TAGS TAGS";
}

.container-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(350px, min-content) 80px minmax(120px, min-content) ;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "ARTICLE ARTICLE ARTICLE"
    "RELATED RELATED RELATED"
    "FIGURES GROUPS EVENTS";
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
      110px 110px 80px 200px 200px minmax(80px, min-content);
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "TOPIC"
      "DATE"
      "TITLE"
      "SUMMARY"
      "SOURCES"
      "TAGS";
  }
}

.TITLE {
  grid-area: TITLE;
  padding-top: 7px;
}

.DATE {
  grid-area: DATE;
}

.TOPIC {
  grid-area: TOPIC;
  border: 1px solid var(--accent-7);
  border-radius: 10px;
  padding: 6px;
}

.SUMMARY {
  grid-area: SUMMARY;
}

.ARTICLE {
  grid-area: ARTICLE;
}

.SOURCES {
  grid-area: SOURCES;
  border: 1px solid var(--accent-7);
  border-radius: 10px;
  padding: 6px;
  .rt-TextFieldRoot{
	flex: 1;
  }
}

.RELATED {
  grid-area: RELATED;
}

.FIGURES {
  grid-area: FIGURES;
  border: 1px solid var(--accent-7);
  border-radius: 10px;
  padding: 6px;
}

.GROUPS {
  grid-area: GROUPS;
  border: 1px solid var(--accent-7);
  border-radius: 10px;
  padding: 6px;
}

.EVENTS {
  grid-area: EVENTS;
  border: 1px solid var(--accent-7);
  border-radius: 10px;
  padding: 6px;
}

.TAGS {
  grid-area: TAGS;
}